/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
/* banner part */
.banner-title {
  color: white;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  padding-top: 177px;
}
.banner-text {
  color: white;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}
.container {
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Banner\ Image.png");

  margin: auto;

  margin-top: 50px;
  margin-bottom: 120px;
  max-width: 1320px;
  height: 600px;
  border-radius: 16px;
}
/* categories part */
.categories {
  text-align: center;
}

.categories-title1 {
  color: #f00;
  /* text-align: center; */
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}
.categories-para {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.categories-title2 {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}

.categories-img {
  width: 802.9px;
  height: 500px;
  margin: auto;
  margin-bottom: 120px;
}
/* midnight part */

.midnight-container {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 120px;
  max-width: 1320px;
  height: 600px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.midnight-img {
  width: 319.83px;
  height: 464.662px;
}
.midnight-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}
.midnight-para1 {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.midnight-para2 {
  color: #fff;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: auto;
  margin-top: 48px;
  margin-left: 32px;
}
/* hotel part */
.main-hotel {
  max-width: 1320px;
  height: 482px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin: auto;

  margin-bottom: 120px;
  border-radius: 16px;
}
.hotel-text {
  padding-top: 100px;
}
.hotel-text p {
  color: #070211;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.h {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.hotel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.hb {
  text-align: center;
  border-radius: 8px;
  background: #f00;

  padding: 16px 32px;
}

/* bonus part -2 */
.main-bonus {
  display: flex;
  justify-content: space-around;
  max-width: 1320px;
  margin: auto;
  margin-bottom: 120px;
  gap: 50px;
}

.bonus-image {
  border-radius: 50%;
  border: 15px solid #f00;
  padding: 20px;
  width: 364.844px;
height: 364.844px;

}

.b-title {
  color: #f00;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 104px;
}

.b-title2 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.b-para {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 393px;
}
.b-text {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 276px;
  margin-bottom: 48px;
}
.bonus-year .title1 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 104px;
}

.p-text {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 896px;
  margin-top: 22px;
}
/* portfolio part */
.main-portfolio {
  margin: auto;
  max-width: 1320px;

  margin-bottom: 120px;
}
.phead {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.portfolio-items {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.i {
  padding-right:10px;
  width: 424px;
  height: 450px;
  margin-top: 48px;
}

.j {
  padding-right: 15px;
  width: 424px;
  height: 450px;
}

/* subscribe part */
.main-subscribe {
  width: 1320px;
  margin: auto;
  margin-bottom: 120px;
  height: 616px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}
.subscribe-email {
  display: flex;
  justify-content: center;

  padding-top: 80px;
}
.subscribe-letter h2 {
  text-align: center;
  color: #070211;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 22px;
}
.subscribe-letter p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 896px;
  margin-top: 22px;
  margin-left: 212px;
  width: 896px;
}
.subscribe-search {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  justify-content: center;
  margin-top: 48px;
  margin-left: 330px;
  margin-right: 312px;
}
.si {
  width: 600px;
  height: 72px;
  border-radius: 50px 0px 0px 50px;
  background: #fff;
}

.sb {
  width: 180px;
  height: 76px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  position: relative;
  left: -30px;
}
input::placeholder {
  color: rgba(7, 2, 17, 0.3);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  /* margin-right:600px; */
  margin-right: 290px;
}

/* footer part */
footer {
  width: 1600px;
  height: 609px;
  background: #070211;
  margin: auto;
}
.foot-icons {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: 48px;
  margin-bottom: 48px;
  gap: 24px;
}

.foot-text {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  padding-top: 120px;
  margin-left: 140px;
  margin-right: 120px;
  margin-bottom: 50px;
}
.foot-text2 {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin-top: 50px;
  margin-left: 140px;
  margin-right: 120px;
}
hr {
  background: rgba(255, 255, 255, 0.15);
  width: 1320px;
  height: 1px;
  align-items: center;
  margin-left: 140px;
}
